.nav {
    height: 90px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.link a {
    text-decoration: none;
    /* Remove underline */
    color: rgb(243, 79, 79);
    /* Default link color */
    font-size: 18px;
    /* Font size for links */
}

.link a:hover {
    color: darkblue;
    /* Color on hover */
}