.container {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 20px;
    background-color: blanchedalmond;
}

.img {
    padding: 20px;
}

.para {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}